<a href="https://colab.research.google.com/github/Muntasir2179/vector-database-learning/blob/main/VD_SQLite_Vector_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLite Database

In [1]:
import sqlite3

In [2]:
# create a connection to SQLite DB
conn = sqlite3.connect("sample.db")

In [3]:
# Create a cursor
'''
The cursor objects is going to help us execute all the SQL commands
'''
cursor = conn.cursor()

## Now let's create a table

Here we are going to create a table. It will be a `stocks` table. There will be two columns -

* stock_code
* stock_name

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS stocks(
  stock_code INTEGER PROMARY KEY,
  stock_name TEXT NOT NULL
)
""")

In [10]:
# let's now insert some data
cursor.execute("INSERT INTO stocks (stock_name) VALUES (?)", ('TESLA',))
cursor.execute("INSERT INTO stocks (stock_name) VALUES (?)", ('Microsoft',))

In [12]:
# select records
cursor.execute("SELECT * FROM stocks")

In [13]:
rows = cursor.fetchall()
rows

[(None, 'TESLA'), (None, 'TESLA'), (None, 'Microsoft')]

In [14]:
# save the changes
conn.commit()

In [15]:
# it is a good practise to always close the database connection whenever we connect with some database
conn.close()